@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #FAFAFA;
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .text-container {
  text-align: center;
  margin-bottom: 64px;
  font-family: "Poppins";
  width: 540px;
}
body .container .text-container h1 {
  margin-bottom: 13px;
  font-weight: 275;
  font-size: 36px;
  color: #4d4f62;
}
body .container .text-container h1 span {
  font-weight: 600;
}
body .container .text-container p {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
  line-height: 25px;
  letter-spacing: 0.1px;
}
body .container .grid-container {
  width: 1110px;
  height: 530px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}
body .container .grid-container .grid-item {
  border-radius: 8px;
  overflow: hidden;
  padding: 32px;
  font-family: "Poppins";
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
body .container .grid-container .g1, body .container .grid-container .g4, body .container .grid-container .g3, body .container .grid-container .g2 {
  grid-row-start: 2;
  grid-row-end: 4;
  border-top: 4px solid #44D3D2;
  color: #4d4f62;
}
body .container .grid-container .g1 h2, body .container .grid-container .g4 h2, body .container .grid-container .g3 h2, body .container .grid-container .g2 h2 {
  font-size: 20px;
  font-weight: 600;
}
body .container .grid-container .g1 p, body .container .grid-container .g4 p, body .container .grid-container .g3 p, body .container .grid-container .g2 p {
  padding-top: 6px;
  font-weight: 400;
  opacity: 0.5;
  line-height: 23px;
  font-size: 13px;
}
body .container .grid-container .g1 .img, body .container .grid-container .g4 .img, body .container .grid-container .g3 .img, body .container .grid-container .g2 .img {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}
body .container .grid-container .g2 {
  grid-row-start: 1;
  grid-row-end: 3;
  border-top: 4px solid #EA5454;
}
body .container .grid-container .g3 {
  grid-row-start: 3;
  grid-row-end: 5;
  border-top: 4px solid #FCAE4A;
}
body .container .grid-container .g4 {
  grid-row-start: 2;
  grid-row-end: 4;
  border-top: 4px solid #549EF2;
}

@media (max-width: 375px) {
  body .container {
    height: 100vh;
    padding: 0 32px;
    padding-top: 85px;
  }
  body .container .text-container {
    width: unset;
    margin-bottom: unset;
  }
  body .container .text-container h1 {
    font-size: 24px;
  }
  body .container .text-container > p {
    margin-bottom: 76px;
  }
  body .container .grid-container {
    width: unset;
    height: unset;
    display: flex;
    flex-direction: column;
    margin-bottom: unset;
    gap: 25px;
  }
  body .container .grid-container .grid-item {
    padding: 27px;
  }
  body .container .grid-container .grid-item p {
    padding-top: 1px;
    font-size: 13px;
  }
  body .container .grid-container .grid-item .img {
    padding-top: 33px;
  }
}

/*# sourceMappingURL=style.css.map */
